# Node modules
node_modules/

# TypeScript compiled output
dist/
build/
*.js.map

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
